$mobile: 360px;
$tablet: 768px;
@mixin device($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}
@mixin mainCateBtn($url) {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  background: url($url) no-repeat center/cover;
  @content;
}
@mixin sideBtn() {
  width: 15%;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid rgba(164, 164, 164, 0.5);
  color: rgb(42, 42, 42);
  @content;
}

$grayBg: rgba(164, 164, 164, 0.5);
$color1: #fbcbc3;
$color3: #eb735e;
// $color1: #87daec;
$color2: #feb2b2;
// $color3: #46cae8;

$mainIconUrl: (
  1: "../../public/assets/images/ico_exhibition.png",
  4: "../../public/assets/images/ico_concert.png",
  5: "../../public/assets/images/ico_musical.png",
  6: "../../public/assets/images/ico_k-music.png",
  7: "../../public/assets/images/ico_theater.png",
  8: "../../public/assets/images/ico_education.png",
  2: "../../public/assets/images/ico_dance.png",
  3: "../../public/assets/images/ico_classic.png",
  10: "../../public/assets/images/ico_festival.png",
  11: "../../public/assets/images/ico_instrument.png",
  9: "../../public/assets/images/ico_movies.png",
  12: "../../public/assets/images/ico_etc.png",
);
// breakpoint for mobile
@include device($mobile, 767px) {
}
// breakpoint for tablet
@include device($tablet, 1024px) {
}
